<nav class="navbar navbar-expand-md">
  <div class="container">
    <!-- Logo/Brand -->
    <a class="navbar-brand" routerLink="/home">
      <span class="brand-text text-danger">Burundi</span>
      <span class="brand-subtext">Epreuves.com</span>
    </a>

    <!-- Mobile Toggle Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav Items -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fs-4">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">
            <i class="fas fa-home"></i> Accueil
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/mathphys" routerLinkActive="active">
            <i class="fas fa-square-root-alt"></i> Math-Phys
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/biochimie" routerLinkActive="active">
            <i class="fas fa-flask"></i> Bio-Chimie
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/langues" routerLinkActive="active">
            <i class="fas fa-language"></i> Langues
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/concours" routerLinkActive="active">
            <i class="fas fa-graduation-cap"></i> 9ème
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">
            <i class="fas fa-envelope"></i> Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>